header {
    padding: 25px;
    background: #636e725d;
    border-bottom: 1px solid #FF9800;
}

header div {
    text-align: center;
}

header div a {
    color: #6c5ce7;
    margin: 15px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    text-decoration: none;    
}

header div a:hover {
    color: #FF9800;
    text-decoration: underline;
    transition: color .5s;
}