{% extends "layout.njk" %}

{% block head %}
<title>Rocketseat</title>

<link rel="icon" href="/images/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style/sobre.css">
{% endblock %}


{% block content %}
<div class="informacoes">
    <img src="{{ about.icone_img }}" alt="Logo">
    <div class="texto">
        <h1>{{ about.name_title }}</h1>
        <p>{{ about.description }}</p>
    </div>
</div>

<div class="tecnologia">
    <h2>{{ about.title }}</h2>
    <ul>
        {% for link_tec in about.links_tec %}
        <li><img src="{{ link_tec.url_img }}" alt="Logo">{{ link_tec.name }}</li>
        {% endfor %}
    </ul>
</div>

<div id="redes">
    <ul>
        {% for link in about.links %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
