{% extends "layout.njk" %}

{% block head %}
<title>Error 404</title>
<link rel="stylesheet" href="/style/not-found.css">
{% endblock %}

{% block menu %}
<div class="box_error">
    <div class="error_message">
        <img src="/images/rocketseat.jpg" alt="">
        <h1>Error 404 - Page not foud</h1>
    </div>
</div>
{% endblock %}